* {
 
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #042d3b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    }

.navbar {
    width: 100%;
    background: #2b2b22;
    padding: 5px 10px;
}



.center {

    display: flex;
    justify-content: center;
    background-color: #C7C5B0;
    height: 350px;
    font-size: 25pt;
    font-style: italic;
    text-align: center;


}
/* ventana flotante */
.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 800px;
	transition: .3s ease all;
	transform: scale(0.7);
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #BBBBBB;
    transition: .3s ease all;

}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
}






.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}


/* botones */

.dropdown-section{
    width: 90%;
    margin:  auto; 
    padding: 40px 0 ;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 800px) { .dropdown-section {
    flex-direction: column;

    text-align: center;
}
 }


.btb-dropdown-text{
    font-size: 3ch;
}

.btn-dropdown {

    background-color: #2b2b2a;
    color: white;
    font-size: 17px;
    padding: 5px 5px;
    transition: ease-in all 0.25s;
    height: 100px;
    width: 250px;

}

.btn:hover {
    background-color: #ddad25;
    transition: ease-in all 0.20s;
    color: #fff;
    border-radius: 26px; 
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;


  }